
<div class="user-index">
 <div class="user-index-list">

<table class="table">
  <thead>
    <tr>
    <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">性別</th>
      <th scope="col">生年月日(年齢)</th>
    </tr>
  </thead>
  <tbody>
    <% @item.each do |user|%>
    <tr>
    <td class="user-list"><%= image_tag(user.image,class:"user-index-image") %></td>
       <td class="user-list"><%= user.id%></td>
      <td class= "user-list"><%= link_to (user.name),user_path(user.id)%></td>
      <td class="user-list"><%= user.gender.name%></td>
      <td class="user-list"><%= user.birthday.strftime('%Y/%m/%d')%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<div class="kaminari">
<div class="kaminari-list">
<%= paginate @item, theme: 'twitter-bootstrap-4' %>
</div>
</div>
</div>
</div>