
<div class="user-index">
 <div class="user-index-list">

<table class="table">
  <thead>
    <tr>
    <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">初診日</th>
      <th scope="col">最終来院日</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
    <td class="user-list"><%= image_tag(user.image,class:"user-index-image") %></td>
       <td class="user-list"><%= user.id%></td>
      <td class= "user-list"><%= link_to (user.name),user_path(user.id)%></td>
      <td class="user-list"><%= user.gender.name%></td>
      <td class="user-list"><%= user.birthday.strftime('%Y/%m/%d')%>（<%=(@now - (user.birthday.strftime('%Y%m%d')).to_i)/10000%>歳）</td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>
</div>