<a href="/users/<%=@user.id%>/somatics/new">画像追加</a>
<%= link_to "index",user_somatics_path(@user.id)%>

<%= @abc.each do |t|%>
<%= image_tag(t.images) %>
<%end%>

<%= image_tag(@user.image.variant(resize: '500x500'))%>
<%= @user.name%>様
(<%= @user.kana%>)
<%= @user.phone_number%>
<%= @user.postal_code%>
<%= @user.prefecture_id%>
<%= @user.city%>
<%= @user.street%>
<%= @user.building%>
<%= @user.know_id%>
<%= @user.email%>
<%= @user.birthday%>
<%= @user.gender_id%>

<%= link_to "カレンダー", user_outpatients_path(@user)%>