
<%= image_tag(@user.image.variant(resize: '500x500'))%>
<%= @user.name%>様
(<%= @user.kana%>)
<%= @user.phone_number%>
<%= @user.postal_code%>
<%= @user.prefecture_id%>
<%= @user.city%>
<%= @user.street%>
<%= @user.building%>
<%= @user.know_id%>
<%= @user.email%>
<%= @user.birthday%>
<%= @user.gender_id%>


<%= form_with(model:[@user,@outpatient], local: true) do |form| %>
  <div class="price">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="text">
    <%= form.label :text%>
    <%= form.text_field :text %>
  </div>
  <div class="start_time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>


<%= month_calendar events:@outpatients  do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= event.price %>
    </div>
    <%= event.text%>
  <% end %>
<% end %>

<% @outpatients.each do |t|%>
<%= t.price%>
<%= t.text%>
<%= t.start_time.strftime('%Y/%m/%d')%>
<%end%>