
<% if admin_signed_in? %>

<div class="item-index">
<%= link_to new_user_path do %>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">新患登録</div>
</div>
</div>
<%end%>

<%= link_to users_path do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">患者様情報</div>
</div>
</div>
<%end%>

<%= link_to users_path do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">分析ツール</div>
</div>
</div>
<%end%>

<%= link_to users_path do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">予約ツール</div>
</div>
</div>
<%end%>

<%= link_to edit_admin_path(current_admin.id) do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">管理者編集</div>
</div>
</div>
<%end%>

<%= link_to destroy_admin_session_path, method: :delete do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">ログアウト</div>
</div>
</div>
<%end%>

<%else%>
<div class="item-index">
<%= link_to new_admin_registration_path do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">管理者登録</div>
</div>
</div>
<%end%>

<%= link_to new_admin_session_path do%>
<div class="item-box">
<div class="item-contents">
<div class="item-index-image">
<%= image_tag('file',class:"item-image")%>
</div>
<div class="item-text">ログイン</div>
</div>
</div>
<%end%>
</div>



<%end%>
</div>


<%#= @now%>
<%# @orders.each do |orders|%>
<%#= orders.name%>
<%#end%>