<%= month_calendar events:@outpatients  do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
     <div class="outpatient-price-image">
    <a href="/users/<%=@user.id%>/outpatients/<%=event.id%>">¥<%= event.price %></a>
    <% if event.text.present?%>
    <a href="/users/<%=@user.id%>/outpatients/<%=event.id%>"><%=image_tag("file" ,class:"outpatient-image") %></a>
    </div>
    <%end%>
  <% end %>
<% end %>
</div>
<%# <% @oaoa.each do |ccc|%> %>
<%# <%= ccc.user.name%> %>
<%# <%end%> %>

<%# <%= @oaoa.user.name%> %>