<div class="outpatient-form">
<div class="outpatient-user-name">
 <%= @user.name%>様
 </div>
<div class="outpatient-form-side">

 <div class="outpatient-form-contents">
<%= form_with(model:[@user,@outpatient], local: true) do |form| %>
  <div class="form-group">
   <label for="exampleFormControlInput1">利用料金</label>
   <%= form.text_field :price, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">施術内容</label>
     <%= form.collection_select(:medical_category_id, MedicalCategory.all, :id, :name, {}, {class:"form-control", id:"exampleFormControlSelect1"}) %>
  </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">特記事項</label>
    <%= form.text_area :text,class: "form-control" %>
  </div>
      <label for="exampleFormControlSelect1">日程</label>
    <div class="form-group">
     <%= form.date_select :start_time, {}, {class: 'form-control', style: 'display: inline-block;width: auto;'} %>
  </div>

    <div class="outpatient-submit">
    <%= form.submit "登録", class:"outpatient-submit-btn" %>
  </div>

<% end %>
</div>
</div>
</div>