<%= month_calendar events:@outpatients  do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
     <div class="outpatient-price-image">
    <a href="/users/<%=@user.id%>/outpatients/<%=event.id%>">¥<%= event.price %></a>
    <% if event.text.present?%>
    <a href="/users/<%=@user.id%>/outpatients/<%=event.id%>"><%=image_tag("file" ,class:"outpatient-image") %></a>
    </div>
    <%end%>
  <% end %>
<% end %>
</div>
<% @ccc.each do |ccc|%>
<%= ccc.user_id%>
<%end%>

<%= week_calendar(number_of_weeks: 2) do |date| %>
  <%= date.day %>
<% end %>

<%= calendar(start_date_param: :my_date) do |date| %>
  <%= date %>
<% end %>

<%= month_calendar(attribute: :start_date) do |date| %>
  <%= date %>
<% end %>

<%= month_calendar(attribute: :start_time, end_attribute: :end_date) do |date| %>
  <%= date %>
<% end %>