<div class="outpatient">
<div class="outpatient-calendar">
<%= render partial: "outpatient_form"%>
<%= render partial: "outpatient_text"%>

<%# <div class="outpatient-history"> %>
<%# <% @outpatients.each do |t|%>
<%# <%= t.price%>
<%# <%= t.text%>
<%# <%= t.start_time.strftime('%Y/%m/%d')%>
<%# <%end%>

</div>
</div>

<%= @sss.start_time%>